@{
    ViewData["Title"] = "Article";
}
<style>
    .mostview{
        transition: transform 0.2s ease-in-out;
    }
    .mostview:hover{
        transform: scale(1.0125);
    }
    .side {
        width: 500px;
        position: fixed;
        right: 0;
        background-color: white;
    }
</style>
<main class="col-8">
    <section>
        <h1 class="fs-2">How To Make You Happy When Coding</h1>
        <div class=" mx-auto mt-5">
        <figure class=" w-75 mx-auto">
            <img src="~/img/blog1.png" class="figure-img img-fluid rounded" alt="...">
                <div class="card-text d-flex justify-content-between">
                    <figcaption class="figure-caption">Daffa Putra</figcaption>
                    <figcaption class="figure-caption">08 October 2021</figcaption>
                </div>
        </figure>
        </div>
    </section>
    <section class="mt-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non erat et nulla tincidunt fringilla in vel metus. Proin blandit tempus mauris, at finibus risus tempus vitae. Suspendisse placerat feugiat luctus. Nunc sed massa est. Donec placerat, mauris in viverra fermentum, arcu est dignissim nisi, quis tempor leo eros vel ipsum. In nunc tellus, molestie nec dolor quis, porta ornare neque. Etiam gravida nisi laoreet convallis lobortis.</p>
            <p>Duis in metus a diam vehicula vehicula. Aliquam faucibus ante quis mattis maximus. Mauris vitae tristique mi. Sed tincidunt pretium bibendum. Nulla facilisi. Mauris finibus, risus faucibus bibendum ornare, enim erat porttitor nunc, eget viverra erat nunc sit amet diam. Donec eu dictum leo, pellentesque tempor velit. Nunc finibus hendrerit lorem id luctus. Etiam id massa at odio tristique venenatis. Nam vel sodales velit. Etiam pharetra tempus commodo. Quisque vel ullamcorper lacus. Suspendisse non faucibus arcu. Sed porttitor molestie ante vel commodo.</p>
            <p>Donec maximus fermentum lorem at efficitur. Maecenas tristique arcu id nibh lacinia volutpat. Vestibulum elementum, enim at vehicula congue, ex massa faucibus metus, nec pharetra magna nunc pulvinar dui. Nulla ipsum elit, eleifend sed libero ac, aliquam cursus magna. Aenean ullamcorper quam quis nisl finibus dapibus. In vel nisl vehicula, iaculis nisi et, tristique neque. Proin posuere sem congue purus iaculis, sed commodo nisi ornare. Integer finibus, leo et suscipit tempus, elit neque eleifend est, sed laoreet ante est malesuada nibh. Aliquam a nunc ex. Cras molestie id lorem ac malesuada. Nam dignissim porttitor orci, quis vehicula nisl elementum id. Quisque lobortis posuere placerat. Cras mattis cursus dui a pretium. Cras porta arcu erat, vel fringilla lectus ultrices sed.</p>
    </section>
</main>
<aside class="side col ">
    <h3 class="text-center">Most Viewed Posts</h3>
    <section class="mt-5">
        <article class="w-75 mx-auto">
            <a href="" style="text-decoration:none;">
                <div class="mostview mb-4  text-black ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/mostsql.png" style="width:130px" class="img-fluid rounded" alt="...">
                        </div>
                        <div class="col-md-8 my-auto">
                            <div class="card-body">
                                <h6 class="card-title ">How To Save Your Money In SQL Server Manag...</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        <article class="w-75 mx-auto">
            <a href="" style="text-decoration:none;">
                <div class="mostview mb-4  text-black ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/mostmoney.png" style="width:130px" class="img-fluid rounded" alt="...">
                        </div>
                        <div class="col-md-8 my-auto">
                            <div class="card-body">
                                <h6 class="card-title ">Make Money From HVS Paper</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        <article class="w-75 mx-auto">
            <a href="" style="text-decoration:none;">
                <div class="mostview mb-4  text-black ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/mostchatgpt.png" style="width:130px" class="img-fluid rounded" alt="...">
                        </div>
                        <div class="col-md-8 my-auto">
                            <div class="card-body">
                                <h6 class="card-title ">ChatGPT Can Be a Friend to Confide in</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        <article class="w-75 mx-auto">
            <a href="" style="text-decoration:none;">
                <div class="mostview mb-4  text-black ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/mostpercentage.png" style="width:130px" class="img-fluid rounded" alt="...">
                        </div>
                        <div class="col-md-8 my-auto">
                            <div class="card-body">
                                <h6 class="card-title ">This AI is for calculating the percentage of relationships</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        <article class="w-75 mx-auto">
            <a href="" style="text-decoration:none;">
                <div class="mostview mb-4  text-black ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/mostmetaverse.png" style="width:130px" class="img-fluid rounded" alt="...">
                        </div>
                        <div class="col-md-8 my-auto">
                            <div class="card-body">
                                <h6 class="card-title ">how to get married in the metaverse</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
    </section>
</aside>



